.first{
    background-color:hwb(0 0% 100%);
    color:white;
}
.first,.second{

    font-size: 28px;
    font-family: Helvetica,"Times New Roman", sans-serif;
}
.second{
    background-color: yellow;
    color:black
}
